/* big tablet */
@media (max-width: 1100px) {
    /* header */


    /* aside */
    aside {
        width: 20rem;
    }

    /* main */
    main {
        width: calc(100% - 20rem);
    }
    
    .todo-text {
        width: 100%
    }

    #new-todo-title {
        width: 70%;
    }

    .todo {
        align-items: center;
    }

    .todo-badge {
        display: none;
    }

    .todo-badge-hidden {
        display: flex;
        width: 75px;
        height: 40px;
        border-radius: 15px;
        text-align: center;
    }
}

@media (max-width: 820px) {
    /* header */
    header {
        height: 3rem;
        font-size: 1rem;
    }

    /* aside */
    aside {
        width: 100%;
    }

    /* todo-list */
    .new-todo-container {
        flex: 1;
    }
    .todo-list {
        flex: 1;
        margin-top: 0;
    }

    .activites {
        flex-direction: row;
    }

    .todo-badge {
        display: flex;
        width: 130px;
    }

    .todo-badge-hidden {
        display: none;
    }

    .new-todo-container {
        padding-right: 30px;
    }

    /* main */
    .aside-main-container {
        flex-direction: column-reverse;
    }

    main {
        width: 100%;
    }

    #backButton, #nextButton {
        font-size: 1.5rem;
    }

    .current-month {
        font-size: 1.5rem;
    }

    /* calendar */
    .day-square {
        height: 4rem;
    }

    .day-square-activities {
        width: 1rem;
        font-size: 0.8rem;
        border-radius: 100rem;
    }
}

/* mobile */
@media (max-width: 560px) {
    /* aside */
    /* todo-list */
    .activites {
        flex-direction: column;
    }
    /* main */
    /* calendar */
    #weekdays {
        font-size: 0.8rem;
    }
    .day-square {
        font-size: 0.8rem;
        margin: 0.2rem;
        border: 1px solid var(--cadetblue);
    }

    .todo-badge {
        display: none;
    }

    .todo-badge-hidden {
        display: flex;
    }

    #new-todo-title {
        width: 50%;
    }

    .todo {
        align-items: center;
    }

    .todo-badge-hidden {
        display: flex;
        width: 60px;
        height: 40px;
        border-radius: 15px;
        text-align: center;
    }
}