/* variaber */
:root {
    --darkelectricblue: #4B6274; /*Används för bakgrund av header*/
    --cadetblue: #79AEB2; /*Används för bakgrund av aside samt markering av aktiv dag*/
    --silk: #F9DDD2; /*Används för todolist rutan samt de cirklar som dyker upp i kalendern*/
    --white: #fff; /*Används för text med mörk bakgrund*/
    --royalbluedark: #132065; /*Används för text med ljus bakgrund*/
    --pewterblue: #95ACBE; /*Används för markering av helgdagar*/
}

/* Återanvända klasser */
.margin1 {
    margin: 1rem;
}

.padding1 {
    padding: 1rem;
}

.padding-top-bottom1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.border-radius {
    border-radius: 1rem;
}

.space-between {
    justify-content: space-between;
}


/* Styling för hela dokumentet */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.current-month {
    font-size: 2.25rem;
    font-weight: 700;
    color: var(--royalbluedark);
    text-align: center;
}

.current-year {
    color: var(--royalbluedark);
    font-size: 1.75rem;
    font-weight: 700;
    text-align: center;
}


/* Aside */
aside {
    width: 20rem;
    background-color: var(--cadetblue);
    position: relative;
    float: left;
}
/* Välkomst segment */
.welcome-segment-day {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--white);
}

.welcome-segment-date, .welcome-segment-time {
    color: var(--white);
}

/* todo lista */
#todo-list {
    background-color: var(--silk);
    color: var(--royalbluedark);
}

.todo-list-header {
    font-size: 1.3rem;
}

.todo-list-current-day, .todo-list-other-days {
    margin-top: 0.5rem;
}
.tlcd-activites, .tlod-activites {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}